backend/node_modules/
backend/dist/
UI/node_modules/
UI/dist/
UI/src/components/.DS_Store
UI/src/components/.vscode/
UI/.env
backend/.env
backend/prisma/migrations/
receipe_sec/
# Python venv
receipe_sec/.venv/
receipe_sec/.venv
# recipe folder
receipe_sec/
